.destaques {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    margin: 5%;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid black;
}

.img-cap {
    text-align: center;
}

.img-cap img {
    width: 180px;
}

.txt-cap {
    padding: 5%;
}

.txt-cap p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-cap {
    background-color: deeppink;
    text-align: center;
    padding: 8%;
    border-radius: 5px;
}

.btn-cap a {
    background-color: deeppink;
    padding: 8%;
    color: white;
    text-decoration: none;
}

#preco {
    font-size: 35pt;
}