@import url("navbar.css");
@import url("show-banner.css");
@import url("destaques.css");
@import url("responsive-settings.css");
@font-face {
    font-family: "OpenSans";
    src: url("/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Glacial";
    src: url("/assets/fonts/GlacialIndifference-Regular.otf");
}

* {
    margin: 0;
    font-family: Glacial;
}

img {
    width: 100px;
}

.divider-title {
    background-color: black;
    padding: 5%;
    color: white;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}