.navbar {
    display: flex;
    background-color: black;
    padding: 1%;
}

.active {
    text-align: center;
    padding: 0.5%;
}

.navbar ul {
    text-align: left;
    list-style: none;
}

.navbar li {
    padding: 5px;
    display: inline-block;
    font-size: 15pt;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a.icon {
    background: black;
    display: none;
}

.navbar a:hover {
    opacity: 0.5;
}

.img-area {
    text-align: center;
}

.img-area img {
    width: 40px;
}